

.nav{
    height: 54px;
    align-items:center;
}
.nav a {
    color:darkslategray;
}
.nav a:hover{
    color:darkred;
    text-decoration: none;
}
.nav img {
    height: 42px;
}
.nav-left{
    display:flex;
    justify-content: center;
    flex-direction: row;
    font-size: 1.25rem;
    font-weight: bold;
}
.nav-right{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.nav-right-side{
    display: flex;
    flex-direction: row;
}
.nav-right-side a{
    margin-left: 10px;
    margin-right: 10px;
}
.page-header{
    background-image: url('/assets/main_images/binary_wallpaper_green_1500_1000.jpg');
    background-size: 'cover';
}

@media (min-width: $screen-sm-min) { 
    .nav-left-side a{
        padding-left: 150px;
    }

    .nav-right-side{
        padding-right: 100px;
    }
    .nav-left{
        display:flex;
        justify-content: flex-start;
        flex-direction: row;
    }
    .nav-right{
        display:flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}