
.main-content{
    background-color: white;
}
.main-post-title{
    font-size: 2rem;
}
.main-post-date{
    font-size: .75rem;
}
.main-col{
    margin-bottom: 50px;
}

@media (min-width: $screen-sm-min) { 
    .main-col{
        margin-bottom: 0px;
    }
}