---
---

@import "{{ site.theme }}";
.main-post-title{
    font-size: 1.75rem;
}
.main-post-date{
    font-size: 1rem;
}
.nav-left-side{
    margin-left: 150px;
}
.nav {
    
}
.nav a {
    color:darkslategray;
}
.nav a:hover{
    color:darkred;
    text-decoration: none;
}
.nav-left{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
}
.nav-right{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-right-side{
    display: flex;
    flex-direction: row;
}
.page-header{
    background-image: linear-gradient(0deg, #3c25ff, #000000);
}

.main-content{
    background-color: white;
}

body{
    background-color: lightgray;
}
@import "svg-icons";
@import "bootstrap";